


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."insert_parser_output_plan_v1"("plan" "jsonb") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  -- Current element when iterating over a jsonb array
  v_rec               jsonb;

  -- UUID maps: temp_key (text) ΓåÆ inserted UUID (stored as a JSON string inside jsonb)
  -- Usage: (v_sys_uuid_map ->> some_temp_key)::uuid
  v_sys_uuid_map      jsonb := '{}';
  v_prof_uuid_map     jsonb := '{}';
  v_comp_uuid_map     jsonb := '{}';
  v_col_uuid_map      jsonb := '{}';
  v_link_uuid_map     jsonb := '{}';

  -- Scalar temporaries
  v_new_id            uuid;
  v_sys_id            uuid;
  v_comp_id           uuid;
  v_entity_id         uuid;
  v_temp_key          text;
  v_sys_temp_key      text;
  v_comp_temp_key     text;
  v_entity_type       text;
  v_entity_temp_key   text;
  v_missing_keys      text[] := '{}';

  -- Running insert counts (returned in the response)
  v_cnt_systems       int := 0;
  v_cnt_profiles      int := 0;
  v_cnt_components    int := 0;
  v_cnt_colours       int := 0;
  v_cnt_links         int := 0;
  v_cnt_fv            int := 0;
  v_cnt_pfe           int := 0;

BEGIN

  -- ----------------------------------------------------------------
  -- 1. Null guard
  -- ----------------------------------------------------------------
  IF plan IS NULL THEN
    RETURN jsonb_build_object(
      'ok',      false,
      'mode',    'inserted',
      'message', 'plan argument is null'
    );
  END IF;

  -- ----------------------------------------------------------------
  -- 2. Top-level key presence check
  --    Mirrors the shell validation in migration 010.
  -- ----------------------------------------------------------------
  IF NOT (plan ? 'stagedSystems')           THEN v_missing_keys := array_append(v_missing_keys, 'stagedSystems');           END IF;
  IF NOT (plan ? 'stagedSystemProfiles')    THEN v_missing_keys := array_append(v_missing_keys, 'stagedSystemProfiles');    END IF;
  IF NOT (plan ? 'stagedComponents')        THEN v_missing_keys := array_append(v_missing_keys, 'stagedComponents');        END IF;
  IF NOT (plan ? 'stagedSystemColours')     THEN v_missing_keys := array_append(v_missing_keys, 'stagedSystemColours');     END IF;
  IF NOT (plan ? 'stagedSystemComponents')  THEN v_missing_keys := array_append(v_missing_keys, 'stagedSystemComponents');  END IF;
  IF NOT (plan ? 'fieldVerifications')      THEN v_missing_keys := array_append(v_missing_keys, 'fieldVerifications');      END IF;
  IF NOT (plan ? 'parserFieldEvidence')     THEN v_missing_keys := array_append(v_missing_keys, 'parserFieldEvidence');     END IF;

  IF array_length(v_missing_keys, 1) IS NOT NULL THEN
    RETURN jsonb_build_object(
      'ok',           false,
      'mode',         'inserted',
      'message',      'plan is missing required top-level keys',
      'missing_keys', to_jsonb(v_missing_keys)
    );
  END IF;

  -- ================================================================
  -- 3. Insert staged_systems
  --    Builds v_sys_uuid_map: _temp_key ΓåÆ real UUID
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'stagedSystems') LOOP

    v_temp_key := v_rec ->> '_temp_key';
    IF v_temp_key IS NULL OR v_temp_key = '' THEN
      RAISE EXCEPTION 'stagedSystems row is missing _temp_key';
    END IF;

    INSERT INTO staged_systems (
      manufacturer_id,
      source_document_id,
      source_chunk_id,
      name,
      product_code,
      slug,
      category,
      subcategory,
      description,
      bal_rating,
      acoustic_rating,
      moisture_resistant,
      structural_grade,
      double_sided,
      sheet_format,
      install_guide_url,
      tech_data_url,
      notes,
      sort_order,
      extraction_confidence,
      verification_status,
      parser_notes
    )
    VALUES (
      (v_rec ->> 'manufacturer_id')::uuid,
      (v_rec ->> 'source_document_id')::uuid,
      (v_rec ->> 'source_chunk_id')::uuid,
      v_rec ->> 'name',
      v_rec ->> 'product_code',
      v_rec ->> 'slug',
      v_rec ->> 'category',
      v_rec ->> 'subcategory',
      v_rec ->> 'description',
      v_rec ->> 'bal_rating',
      v_rec ->> 'acoustic_rating',
      COALESCE((v_rec ->> 'moisture_resistant')::boolean, false),
      v_rec ->> 'structural_grade',
      COALESCE((v_rec ->> 'double_sided')::boolean, false),
      v_rec ->> 'sheet_format',
      v_rec ->> 'install_guide_url',
      v_rec ->> 'tech_data_url',
      v_rec ->> 'notes',
      COALESCE((v_rec ->> 'sort_order')::int, 0),
      (v_rec ->> 'extraction_confidence')::numeric,
      'pending_review',
      v_rec -> 'parser_notes'
    )
    RETURNING id INTO v_new_id;

    v_sys_uuid_map := jsonb_set(v_sys_uuid_map, ARRAY[v_temp_key], to_jsonb(v_new_id::text));
    v_cnt_systems := v_cnt_systems + 1;

  END LOOP;

  -- ================================================================
  -- 4. Insert staged_system_profiles
  --    Resolves _staged_system_temp_key ΓåÆ staged_system_id
  --    Builds v_prof_uuid_map: _temp_key ΓåÆ real UUID
  --    Schema note: staged_system_profiles has no extraction_confidence column.
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'stagedSystemProfiles') LOOP

    v_temp_key     := v_rec ->> '_temp_key';
    v_sys_temp_key := v_rec ->> '_staged_system_temp_key';

    IF v_sys_temp_key IS NULL THEN
      RAISE EXCEPTION
        'stagedSystemProfiles row "%" has null _staged_system_temp_key ΓÇö unresolvable FK link',
        v_temp_key;
    END IF;
    IF NOT (v_sys_uuid_map ? v_sys_temp_key) THEN
      RAISE EXCEPTION
        'stagedSystemProfiles row "%" references unknown system temp key "%"',
        v_temp_key, v_sys_temp_key;
    END IF;
    v_sys_id := (v_sys_uuid_map ->> v_sys_temp_key)::uuid;

    INSERT INTO staged_system_profiles (
      staged_system_id,
      name,
      profile_name,
      product_code,
      dimensions,
      length_m,
      length_mm,
      width_mm,
      height_mm,
      thickness_mm,
      depth_mm,
      gauge_mm,
      diameter_mm,
      roll_m,
      weight_kg,
      weight_g,
      volume_ml,
      pieces,
      pack_format,
      supplier_pack_qty,
      supplier_pack_uom,
      supplier_pack_note,
      bal_rating,
      uom,
      sort_order,
      verification_status,
      parser_notes
    )
    VALUES (
      v_sys_id,
      v_rec ->> 'name',
      v_rec ->> 'profile_name',
      v_rec ->> 'product_code',
      v_rec ->> 'dimensions',
      (v_rec ->> 'length_m')::numeric,
      (v_rec ->> 'length_mm')::numeric,
      (v_rec ->> 'width_mm')::numeric,
      (v_rec ->> 'height_mm')::numeric,
      (v_rec ->> 'thickness_mm')::numeric,
      (v_rec ->> 'depth_mm')::numeric,
      (v_rec ->> 'gauge_mm')::numeric,
      (v_rec ->> 'diameter_mm')::numeric,
      (v_rec ->> 'roll_m')::numeric,
      (v_rec ->> 'weight_kg')::numeric,
      (v_rec ->> 'weight_g')::numeric,
      (v_rec ->> 'volume_ml')::numeric,
      (v_rec ->> 'pieces')::numeric,
      v_rec ->> 'pack_format',
      (v_rec ->> 'supplier_pack_qty')::numeric,
      v_rec ->> 'supplier_pack_uom',
      v_rec ->> 'supplier_pack_note',
      v_rec ->> 'bal_rating',
      v_rec ->> 'uom',
      COALESCE((v_rec ->> 'sort_order')::int, 0),
      'pending_review',
      v_rec -> 'parser_notes'
    )
    RETURNING id INTO v_new_id;

    v_prof_uuid_map := jsonb_set(v_prof_uuid_map, ARRAY[v_temp_key], to_jsonb(v_new_id::text));
    v_cnt_profiles := v_cnt_profiles + 1;

  END LOOP;

  -- ================================================================
  -- 5. Insert staged_components
  --    Builds v_comp_uuid_map: _temp_key ΓåÆ real UUID
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'stagedComponents') LOOP

    v_temp_key := v_rec ->> '_temp_key';
    IF v_temp_key IS NULL OR v_temp_key = '' THEN
      RAISE EXCEPTION 'stagedComponents row is missing _temp_key';
    END IF;

    INSERT INTO staged_components (
      manufacturer_id,
      source_document_id,
      source_chunk_id,
      sku,
      name,
      description,
      category,
      uom,
      length_mm,
      width_mm,
      height_mm,
      thickness_mm,
      depth_mm,
      gauge_mm,
      diameter_mm,
      roll_m,
      weight_kg,
      weight_g,
      volume_ml,
      pieces,
      pack_format,
      supplier_pack_qty,
      supplier_pack_uom,
      supplier_pack_note,
      material,
      finish,
      colour,
      profile,
      texture,
      coverage_m2,
      sort_order,
      extraction_confidence,
      verification_status,
      parser_notes
    )
    VALUES (
      (v_rec ->> 'manufacturer_id')::uuid,
      (v_rec ->> 'source_document_id')::uuid,
      (v_rec ->> 'source_chunk_id')::uuid,
      v_rec ->> 'sku',
      v_rec ->> 'name',
      v_rec ->> 'description',
      v_rec ->> 'category',
      v_rec ->> 'uom',
      (v_rec ->> 'length_mm')::numeric,
      (v_rec ->> 'width_mm')::numeric,
      (v_rec ->> 'height_mm')::numeric,
      (v_rec ->> 'thickness_mm')::numeric,
      (v_rec ->> 'depth_mm')::numeric,
      (v_rec ->> 'gauge_mm')::numeric,
      (v_rec ->> 'diameter_mm')::numeric,
      (v_rec ->> 'roll_m')::numeric,
      (v_rec ->> 'weight_kg')::numeric,
      (v_rec ->> 'weight_g')::numeric,
      (v_rec ->> 'volume_ml')::numeric,
      (v_rec ->> 'pieces')::int,
      v_rec ->> 'pack_format',
      (v_rec ->> 'supplier_pack_qty')::numeric,
      v_rec ->> 'supplier_pack_uom',
      v_rec ->> 'supplier_pack_note',
      v_rec ->> 'material',
      v_rec ->> 'finish',
      v_rec ->> 'colour',
      v_rec ->> 'profile',
      v_rec ->> 'texture',
      (v_rec ->> 'coverage_m2')::numeric,
      COALESCE((v_rec ->> 'sort_order')::int, 0),
      (v_rec ->> 'extraction_confidence')::numeric,
      'pending_review',
      v_rec -> 'parser_notes'
    )
    RETURNING id INTO v_new_id;

    v_comp_uuid_map := jsonb_set(v_comp_uuid_map, ARRAY[v_temp_key], to_jsonb(v_new_id::text));
    v_cnt_components := v_cnt_components + 1;

  END LOOP;

  -- ================================================================
  -- 6. Insert staged_system_colours
  --    Resolves _staged_system_temp_key ΓåÆ staged_system_id
  --    Builds v_col_uuid_map: _temp_key ΓåÆ real UUID
  --    Schema note: staged_system_colours has no extraction_confidence column.
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'stagedSystemColours') LOOP

    v_temp_key     := v_rec ->> '_temp_key';
    v_sys_temp_key := v_rec ->> '_staged_system_temp_key';

    IF v_sys_temp_key IS NULL THEN
      RAISE EXCEPTION
        'stagedSystemColours row "%" has null _staged_system_temp_key ΓÇö unresolvable FK link',
        v_temp_key;
    END IF;
    IF NOT (v_sys_uuid_map ? v_sys_temp_key) THEN
      RAISE EXCEPTION
        'stagedSystemColours row "%" references unknown system temp key "%"',
        v_temp_key, v_sys_temp_key;
    END IF;
    v_sys_id := (v_sys_uuid_map ->> v_sys_temp_key)::uuid;

    INSERT INTO staged_system_colours (
      staged_system_id,
      colour_name,
      sku,
      sku_suffix,
      image_url,
      is_stocked,
      sort_order,
      verification_status
    )
    VALUES (
      v_sys_id,
      v_rec ->> 'colour_name',
      v_rec ->> 'sku',
      v_rec ->> 'sku_suffix',
      v_rec ->> 'image_url',
      COALESCE((v_rec ->> 'is_stocked')::boolean, true),
      COALESCE((v_rec ->> 'sort_order')::int, 0),
      'pending_review'
    )
    RETURNING id INTO v_new_id;

    v_col_uuid_map := jsonb_set(v_col_uuid_map, ARRAY[v_temp_key], to_jsonb(v_new_id::text));
    v_cnt_colours := v_cnt_colours + 1;

  END LOOP;

  -- ================================================================
  -- 7. Insert staged_system_components
  --    Resolves _staged_system_temp_key + _staged_component_temp_key
  --    Builds v_link_uuid_map: _temp_key ΓåÆ real UUID
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'stagedSystemComponents') LOOP

    v_temp_key      := v_rec ->> '_temp_key';
    v_sys_temp_key  := v_rec ->> '_staged_system_temp_key';
    v_comp_temp_key := v_rec ->> '_staged_component_temp_key';

    IF v_sys_temp_key IS NULL THEN
      RAISE EXCEPTION
        'stagedSystemComponents row "%" has null _staged_system_temp_key ΓÇö unresolvable FK link',
        v_temp_key;
    END IF;
    IF NOT (v_sys_uuid_map ? v_sys_temp_key) THEN
      RAISE EXCEPTION
        'stagedSystemComponents row "%" references unknown system temp key "%"',
        v_temp_key, v_sys_temp_key;
    END IF;
    IF v_comp_temp_key IS NULL THEN
      RAISE EXCEPTION
        'stagedSystemComponents row "%" has null _staged_component_temp_key ΓÇö unresolvable FK link',
        v_temp_key;
    END IF;
    IF NOT (v_comp_uuid_map ? v_comp_temp_key) THEN
      RAISE EXCEPTION
        'stagedSystemComponents row "%" references unknown component temp key "%"',
        v_temp_key, v_comp_temp_key;
    END IF;

    v_sys_id  := (v_sys_uuid_map  ->> v_sys_temp_key)::uuid;
    v_comp_id := (v_comp_uuid_map ->> v_comp_temp_key)::uuid;

    INSERT INTO staged_system_components (
      staged_system_id,
      staged_component_id,
      role,
      notes,
      sort_order,
      extraction_confidence,
      verification_status
    )
    VALUES (
      v_sys_id,
      v_comp_id,
      COALESCE(v_rec ->> 'role', 'required'),
      v_rec ->> 'notes',
      COALESCE((v_rec ->> 'sort_order')::int, 0),
      (v_rec ->> 'extraction_confidence')::numeric,
      'pending_review'
    )
    RETURNING id INTO v_new_id;

    v_link_uuid_map := jsonb_set(v_link_uuid_map, ARRAY[v_temp_key], to_jsonb(v_new_id::text));
    v_cnt_links := v_cnt_links + 1;

  END LOOP;

  -- ================================================================
  -- 8. Insert field_verifications
  --    entity_id resolved from UUID maps by entity_type dispatch.
  --    source_page_id left null in V1 (design doc ┬º10.7).
  --    status hardcoded 'pending' ΓÇö distinct from staged 'pending_review'.
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'fieldVerifications') LOOP

    v_entity_type     := v_rec ->> 'entity_type';
    v_entity_temp_key := v_rec ->> 'entity_temp_key';

    v_entity_id := CASE v_entity_type
      WHEN 'staged_system'           THEN (v_sys_uuid_map  ->> v_entity_temp_key)::uuid
      WHEN 'staged_system_profile'   THEN (v_prof_uuid_map ->> v_entity_temp_key)::uuid
      WHEN 'staged_component'        THEN (v_comp_uuid_map ->> v_entity_temp_key)::uuid
      WHEN 'staged_system_colour'    THEN (v_col_uuid_map  ->> v_entity_temp_key)::uuid
      WHEN 'staged_system_component' THEN (v_link_uuid_map ->> v_entity_temp_key)::uuid
      ELSE NULL
    END;

    IF v_entity_id IS NULL THEN
      RAISE EXCEPTION
        'field_verifications: cannot resolve entity_temp_key "%" for entity_type "%" ΓÇö aborting transaction',
        v_entity_temp_key, v_entity_type;
    END IF;

    INSERT INTO field_verifications (
      entity_type,
      entity_id,
      field_name,
      extracted_value,
      verified_value,
      source_document_id,
      source_page_id,
      source_chunk_id,
      source_page_number,
      status,
      confidence
    )
    VALUES (
      v_entity_type,
      v_entity_id,
      v_rec ->> 'field_name',
      v_rec ->> 'extracted_value',
      NULL,
      (v_rec ->> 'source_document_id')::uuid,
      NULL,
      (v_rec ->> 'source_chunk_id')::uuid,
      (v_rec ->> 'source_page_number')::int,
      'pending',
      (v_rec ->> 'confidence')::numeric
    );

    v_cnt_fv := v_cnt_fv + 1;

  END LOOP;

  -- ================================================================
  -- 9. Insert parser_field_evidence (append-only)
  --    entity_id resolved from UUID maps by entity_type dispatch.
  --    extraction_run_id is NOT NULL with FK ΓåÆ extraction_runs.id.
  -- ================================================================
  FOR v_rec IN SELECT value FROM jsonb_array_elements(plan -> 'parserFieldEvidence') LOOP

    v_entity_type     := v_rec ->> 'entity_type';
    v_entity_temp_key := v_rec ->> 'entity_temp_key';

    v_entity_id := CASE v_entity_type
      WHEN 'staged_system'           THEN (v_sys_uuid_map  ->> v_entity_temp_key)::uuid
      WHEN 'staged_system_profile'   THEN (v_prof_uuid_map ->> v_entity_temp_key)::uuid
      WHEN 'staged_component'        THEN (v_comp_uuid_map ->> v_entity_temp_key)::uuid
      WHEN 'staged_system_colour'    THEN (v_col_uuid_map  ->> v_entity_temp_key)::uuid
      WHEN 'staged_system_component' THEN (v_link_uuid_map ->> v_entity_temp_key)::uuid
      ELSE NULL
    END;

    IF v_entity_id IS NULL THEN
      RAISE EXCEPTION
        'parser_field_evidence: cannot resolve entity_temp_key "%" for entity_type "%" ΓÇö aborting transaction',
        v_entity_temp_key, v_entity_type;
    END IF;

    INSERT INTO parser_field_evidence (
      extraction_run_id,
      entity_type,
      entity_id,
      field_name,
      extracted_value,
      source_document_id,
      source_chunk_id,
      source_page_number,
      confidence,
      is_uncertain,
      parser_note
    )
    VALUES (
      (v_rec ->> 'extraction_run_id')::uuid,
      v_entity_type,
      v_entity_id,
      v_rec ->> 'field_name',
      v_rec ->> 'extracted_value',
      (v_rec ->> 'source_document_id')::uuid,
      (v_rec ->> 'source_chunk_id')::uuid,
      (v_rec ->> 'source_page_number')::int,
      (v_rec ->> 'confidence')::numeric,
      COALESCE((v_rec ->> 'is_uncertain')::boolean, false),
      v_rec ->> 'parser_note'
    );

    v_cnt_pfe := v_cnt_pfe + 1;

  END LOOP;

  -- ================================================================
  -- 10. Return success
  -- ================================================================
  RETURN jsonb_build_object(
    'ok',   true,
    'mode', 'inserted',
    'inserted_counts', jsonb_build_object(
      'stagedSystems',          v_cnt_systems,
      'stagedSystemProfiles',   v_cnt_profiles,
      'stagedComponents',       v_cnt_components,
      'stagedSystemColours',    v_cnt_colours,
      'stagedSystemComponents', v_cnt_links,
      'fieldVerifications',     v_cnt_fv,
      'parserFieldEvidence',    v_cnt_pfe
    ),
    'id_maps', jsonb_build_object(
      'systems',    v_sys_uuid_map,
      'profiles',   v_prof_uuid_map,
      'components', v_comp_uuid_map,
      'colours',    v_col_uuid_map,
      'links',      v_link_uuid_map
    )
  );

END;
$$;


ALTER FUNCTION "public"."insert_parser_output_plan_v1"("plan" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."purge_staged_for_document_v1"("p_source_document_id" "uuid", "p_manufacturer_id" "uuid") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_cnt_fv    int := 0;
  v_cnt_pfe   int := 0;
  v_cnt_sys   int := 0;
  v_cnt_comp  int := 0;
BEGIN

  -- ----------------------------------------------------------------
  -- Safety: both params required ΓÇö neither can be null
  -- ----------------------------------------------------------------
  IF p_source_document_id IS NULL OR p_manufacturer_id IS NULL THEN
    RAISE EXCEPTION
      'purge_staged_for_document_v1: both source_document_id and manufacturer_id are required';
  END IF;

  -- ----------------------------------------------------------------
  -- Step 1: Delete field_verifications for all entities in this document.
  --
  -- Must run BEFORE the staged table deletes so the subqueries can
  -- still find child IDs (profiles, colours, links) via FK joins.
  -- entity_id is polymorphic (no FK) so it is not cascade-deleted
  -- when staged rows are removed.
  -- ----------------------------------------------------------------
  DELETE FROM field_verifications
  WHERE entity_id IN (
    -- Systems
    SELECT id FROM staged_systems
    WHERE source_document_id = p_source_document_id
      AND manufacturer_id    = p_manufacturer_id
    UNION ALL
    -- Profiles (children of systems)
    SELECT sp.id
    FROM staged_system_profiles sp
    JOIN staged_systems ss ON ss.id = sp.staged_system_id
    WHERE ss.source_document_id = p_source_document_id
      AND ss.manufacturer_id    = p_manufacturer_id
    UNION ALL
    -- Components
    SELECT id FROM staged_components
    WHERE source_document_id = p_source_document_id
      AND manufacturer_id    = p_manufacturer_id
    UNION ALL
    -- Colours (children of systems)
    SELECT sc.id
    FROM staged_system_colours sc
    JOIN staged_systems ss ON ss.id = sc.staged_system_id
    WHERE ss.source_document_id = p_source_document_id
      AND ss.manufacturer_id    = p_manufacturer_id
    UNION ALL
    -- System-component links (children of systems)
    SELECT sl.id
    FROM staged_system_components sl
    JOIN staged_systems ss ON ss.id = sl.staged_system_id
    WHERE ss.source_document_id = p_source_document_id
      AND ss.manufacturer_id    = p_manufacturer_id
  );
  GET DIAGNOSTICS v_cnt_fv = ROW_COUNT;

  -- ----------------------------------------------------------------
  -- Step 2: Delete parser_field_evidence for all entities (same scope).
  -- Same reasoning as Step 1 ΓÇö must precede staged row deletes.
  -- ----------------------------------------------------------------
  DELETE FROM parser_field_evidence
  WHERE entity_id IN (
    SELECT id FROM staged_systems
    WHERE source_document_id = p_source_document_id
      AND manufacturer_id    = p_manufacturer_id
    UNION ALL
    SELECT sp.id
    FROM staged_system_profiles sp
    JOIN staged_systems ss ON ss.id = sp.staged_system_id
    WHERE ss.source_document_id = p_source_document_id
      AND ss.manufacturer_id    = p_manufacturer_id
    UNION ALL
    SELECT id FROM staged_components
    WHERE source_document_id = p_source_document_id
      AND manufacturer_id    = p_manufacturer_id
    UNION ALL
    SELECT sc.id
    FROM staged_system_colours sc
    JOIN staged_systems ss ON ss.id = sc.staged_system_id
    WHERE ss.source_document_id = p_source_document_id
      AND ss.manufacturer_id    = p_manufacturer_id
    UNION ALL
    SELECT sl.id
    FROM staged_system_components sl
    JOIN staged_systems ss ON ss.id = sl.staged_system_id
    WHERE ss.source_document_id = p_source_document_id
      AND ss.manufacturer_id    = p_manufacturer_id
  );
  GET DIAGNOSTICS v_cnt_pfe = ROW_COUNT;

  -- ----------------------------------------------------------------
  -- Step 3: Delete staged_systems.
  -- CASCADE handles: staged_system_profiles, staged_system_colours,
  --                  staged_system_components (via staged_system_id FK).
  -- ----------------------------------------------------------------
  DELETE FROM staged_systems
  WHERE source_document_id = p_source_document_id
    AND manufacturer_id    = p_manufacturer_id;
  GET DIAGNOSTICS v_cnt_sys = ROW_COUNT;

  -- ----------------------------------------------------------------
  -- Step 4: Delete staged_components.
  -- CASCADE handles: any remaining staged_system_components
  --                  (via staged_component_id FK).
  -- ----------------------------------------------------------------
  DELETE FROM staged_components
  WHERE source_document_id = p_source_document_id
    AND manufacturer_id    = p_manufacturer_id;
  GET DIAGNOSTICS v_cnt_comp = ROW_COUNT;

  -- ----------------------------------------------------------------
  -- Return deleted counts
  -- ----------------------------------------------------------------
  RETURN jsonb_build_object(
    'ok',   true,
    'deleted_counts', jsonb_build_object(
      'field_verifications',  v_cnt_fv,
      'parser_field_evidence', v_cnt_pfe,
      'staged_systems',       v_cnt_sys,
      'staged_components',    v_cnt_comp
    )
  );

END;
$$;


ALTER FUNCTION "public"."purge_staged_for_document_v1"("p_source_document_id" "uuid", "p_manufacturer_id" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."data_studio_manufacturers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "production_manufacturer_id" "uuid",
    "name" "text" NOT NULL,
    "slug" "text" NOT NULL,
    "website_url" "text",
    "logo_url" "text",
    "hero_image_url" "text",
    "description" "text",
    "abn" "text",
    "phone" "text",
    "status" "text" DEFAULT 'draft'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."data_studio_manufacturers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."data_studio_user_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "auth_user_id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text",
    "global_role" "text" DEFAULT 'manufacturer_user'::"text" NOT NULL,
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "chk_user_profiles_global_role" CHECK (("global_role" = ANY (ARRAY['buildquote_admin'::"text", 'buildquote_reviewer'::"text", 'manufacturer_user'::"text"]))),
    CONSTRAINT "chk_user_profiles_status" CHECK (("status" = ANY (ARRAY['active'::"text", 'suspended'::"text"])))
);


ALTER TABLE "public"."data_studio_user_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."document_chunks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "source_document_id" "uuid" NOT NULL,
    "document_page_id" "uuid",
    "extraction_run_id" "uuid",
    "page_number" integer,
    "chunk_index" integer NOT NULL,
    "heading" "text",
    "chunk_type" "text",
    "raw_text" "text",
    "table_json" "jsonb",
    "docling_json" "jsonb",
    "confidence" numeric,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."document_chunks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."document_pages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "source_document_id" "uuid" NOT NULL,
    "page_number" integer NOT NULL,
    "page_image_storage_key" "text",
    "page_text" "text",
    "docling_json" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."document_pages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."extraction_runs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "source_document_id" "uuid" NOT NULL,
    "run_type" "text" NOT NULL,
    "status" "text" DEFAULT 'queued'::"text" NOT NULL,
    "tool_name" "text",
    "tool_version" "text",
    "model_name" "text",
    "started_at" timestamp with time zone,
    "completed_at" timestamp with time zone,
    "error_message" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."extraction_runs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."field_verifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "entity_type" "text" NOT NULL,
    "entity_id" "uuid" NOT NULL,
    "field_name" "text" NOT NULL,
    "extracted_value" "text",
    "verified_value" "text",
    "source_document_id" "uuid",
    "source_page_id" "uuid",
    "source_chunk_id" "uuid",
    "source_page_number" integer,
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "confidence" numeric,
    "reviewer_id" "uuid",
    "reviewed_at" timestamp with time zone,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."field_verifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."manufacturer_users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "manufacturer_id" "uuid" NOT NULL,
    "auth_user_id" "uuid",
    "email" "text" NOT NULL,
    "role" "text" DEFAULT 'manufacturer_reviewer'::"text" NOT NULL,
    "status" "text" DEFAULT 'invited'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "user_profile_id" "uuid",
    "invited_by" "uuid",
    "invited_at" timestamp with time zone DEFAULT "now"(),
    "accepted_at" timestamp with time zone,
    "last_active_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "chk_manufacturer_users_role" CHECK (("role" = ANY (ARRAY['manufacturer_admin'::"text", 'manufacturer_reviewer'::"text", 'manufacturer_viewer'::"text"]))),
    CONSTRAINT "chk_manufacturer_users_status" CHECK (("status" = ANY (ARRAY['invited'::"text", 'active'::"text", 'suspended'::"text"])))
);


ALTER TABLE "public"."manufacturer_users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."parser_field_evidence" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "extraction_run_id" "uuid" NOT NULL,
    "entity_type" "text" NOT NULL,
    "entity_id" "uuid" NOT NULL,
    "field_name" "text" NOT NULL,
    "extracted_value" "text",
    "source_document_id" "uuid",
    "source_page_number" integer,
    "source_chunk_id" "uuid",
    "confidence" numeric,
    "is_uncertain" boolean DEFAULT false NOT NULL,
    "parser_note" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."parser_field_evidence" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."publish_batch_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "publish_batch_id" "uuid" NOT NULL,
    "entity_type" "text" NOT NULL,
    "entity_id" "uuid" NOT NULL,
    "production_table" "text",
    "production_id" "uuid",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "error_message" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."publish_batch_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."publish_batches" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "manufacturer_id" "uuid",
    "status" "text" DEFAULT 'draft'::"text" NOT NULL,
    "export_type" "text" DEFAULT 'csv'::"text" NOT NULL,
    "production_project_ref" "text",
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "approved_at" timestamp with time zone,
    "published_at" timestamp with time zone,
    "notes" "text"
);


ALTER TABLE "public"."publish_batches" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."source_documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "manufacturer_id" "uuid" NOT NULL,
    "original_filename" "text" NOT NULL,
    "document_name" "text" NOT NULL,
    "document_type" "text",
    "document_date" "text",
    "storage_provider" "text" DEFAULT 'cloudflare_r2'::"text" NOT NULL,
    "storage_bucket" "text",
    "storage_key" "text",
    "public_url" "text",
    "file_mime_type" "text",
    "file_size_bytes" bigint,
    "status" "text" DEFAULT 'uploaded'::"text" NOT NULL,
    "uploaded_by" "uuid",
    "uploaded_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "notes" "text"
);


ALTER TABLE "public"."source_documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."staged_components" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "manufacturer_id" "uuid" NOT NULL,
    "source_document_id" "uuid",
    "source_chunk_id" "uuid",
    "production_component_id" "uuid",
    "sku" "text",
    "name" "text" NOT NULL,
    "description" "text",
    "category" "text",
    "uom" "text",
    "length_mm" numeric,
    "width_mm" numeric,
    "height_mm" numeric,
    "thickness_mm" numeric,
    "depth_mm" numeric,
    "gauge_mm" numeric,
    "diameter_mm" numeric,
    "roll_m" numeric,
    "weight_kg" numeric,
    "pieces" integer,
    "material" "text",
    "finish" "text",
    "colour" "text",
    "profile" "text",
    "texture" "text",
    "coverage_m2" numeric,
    "sort_order" integer DEFAULT 0 NOT NULL,
    "extraction_confidence" numeric,
    "verification_status" "text" DEFAULT 'pending_review'::"text" NOT NULL,
    "verified_by" "uuid",
    "verified_at" timestamp with time zone,
    "reviewer_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "volume_ml" numeric,
    "weight_g" numeric,
    "pack_format" "text",
    "supplier_pack_qty" numeric,
    "supplier_pack_uom" "text",
    "supplier_pack_note" "text",
    "parser_notes" "jsonb",
    "image_url" "text",
    "website_url" "text",
    "extracted_at" timestamp with time zone
);


ALTER TABLE "public"."staged_components" OWNER TO "postgres";


COMMENT ON COLUMN "public"."staged_components"."image_url" IS 'Product image URL for this component. Populated post-parse ΓÇö not set by the AI parser.';



COMMENT ON COLUMN "public"."staged_components"."website_url" IS 'Direct URL to the manufacturer product page for this component. Populated manually or by enrichment pipeline.';



COMMENT ON COLUMN "public"."staged_components"."extracted_at" IS 'Timestamp when the AI parser extracted this record. Set by the insertion layer. Distinct from created_at (DB insert time).';



CREATE TABLE IF NOT EXISTS "public"."staged_system_colours" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "staged_system_id" "uuid" NOT NULL,
    "colour_name" "text" NOT NULL,
    "sku" "text",
    "image_url" "text",
    "is_stocked" boolean DEFAULT true NOT NULL,
    "sort_order" integer DEFAULT 0 NOT NULL,
    "verification_status" "text" DEFAULT 'pending_review'::"text" NOT NULL,
    "reviewer_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "parser_notes" "jsonb",
    "sku_suffix" "text",
    "extracted_at" timestamp with time zone
);


ALTER TABLE "public"."staged_system_colours" OWNER TO "postgres";


COMMENT ON COLUMN "public"."staged_system_colours"."image_url" IS 'Colour swatch or lifestyle image URL. Populated post-parse ΓÇö not set by the AI parser.';



COMMENT ON COLUMN "public"."staged_system_colours"."extracted_at" IS 'Timestamp when the AI parser extracted this record. Set by the insertion layer. Distinct from created_at (DB insert time).';



CREATE TABLE IF NOT EXISTS "public"."staged_system_components" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "staged_system_id" "uuid" NOT NULL,
    "staged_component_id" "uuid" NOT NULL,
    "role" "text" DEFAULT 'component'::"text" NOT NULL,
    "notes" "text",
    "sort_order" integer DEFAULT 0 NOT NULL,
    "extraction_confidence" numeric,
    "verification_status" "text" DEFAULT 'pending_review'::"text" NOT NULL,
    "verified_by" "uuid",
    "verified_at" timestamp with time zone,
    "reviewer_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "parser_notes" "jsonb",
    "extracted_at" timestamp with time zone
);


ALTER TABLE "public"."staged_system_components" OWNER TO "postgres";


COMMENT ON COLUMN "public"."staged_system_components"."role" IS 'Free-text description of what this component does in the context of the system ΓÇö e.g. timber fix clip, edge board, starter clip, window flashing. No constrained value set.';



COMMENT ON COLUMN "public"."staged_system_components"."extracted_at" IS 'Timestamp when the AI parser extracted this record. Set by the insertion layer. Distinct from created_at (DB insert time).';



CREATE TABLE IF NOT EXISTS "public"."staged_system_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "staged_system_id" "uuid" NOT NULL,
    "name" "text",
    "product_code" "text",
    "dimensions" "text",
    "length_m" numeric,
    "sheet_format" "text",
    "sort_order" integer DEFAULT 0 NOT NULL,
    "verification_status" "text" DEFAULT 'pending_review'::"text" NOT NULL,
    "reviewer_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "profile_name" "text",
    "length_mm" numeric,
    "width_mm" numeric,
    "height_mm" numeric,
    "thickness_mm" numeric,
    "depth_mm" numeric,
    "gauge_mm" numeric,
    "diameter_mm" numeric,
    "roll_m" numeric,
    "weight_kg" numeric,
    "pieces" numeric,
    "volume_ml" numeric,
    "weight_g" numeric,
    "pack_format" "text",
    "supplier_pack_qty" numeric,
    "supplier_pack_uom" "text",
    "supplier_pack_note" "text",
    "bal_rating" "text",
    "parser_notes" "jsonb",
    "uom" "text",
    "image_url" "text",
    "website_url" "text",
    "extracted_at" timestamp with time zone
);


ALTER TABLE "public"."staged_system_profiles" OWNER TO "postgres";


COMMENT ON COLUMN "public"."staged_system_profiles"."image_url" IS 'Product image URL for this profile variant. Populated post-parse by the image pipeline ΓÇö not set by the AI parser.';



COMMENT ON COLUMN "public"."staged_system_profiles"."website_url" IS 'Direct URL to the manufacturer product page for this specific profile. Populated manually or by enrichment pipeline.';



COMMENT ON COLUMN "public"."staged_system_profiles"."extracted_at" IS 'Timestamp when the AI parser extracted this record. Set by the insertion layer. Distinct from created_at (DB insert time).';



CREATE TABLE IF NOT EXISTS "public"."staged_systems" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "manufacturer_id" "uuid" NOT NULL,
    "source_document_id" "uuid",
    "source_chunk_id" "uuid",
    "production_system_id" "uuid",
    "name" "text" NOT NULL,
    "product_code" "text",
    "slug" "text",
    "category" "text",
    "subcategory" "text",
    "description" "text",
    "dimensions" "text",
    "length_m" numeric,
    "double_sided" boolean DEFAULT false NOT NULL,
    "hero_image_url" "text",
    "website_url" "text",
    "source_label" "text",
    "source_url" "text",
    "sheet_format" "text",
    "fire_rating" "text",
    "acoustic_rating" "text",
    "moisture_resistant" boolean DEFAULT false NOT NULL,
    "structural_grade" "text",
    "install_guide_url" "text",
    "tech_data_url" "text",
    "sort_order" integer DEFAULT 0 NOT NULL,
    "extraction_confidence" numeric,
    "verification_status" "text" DEFAULT 'pending_review'::"text" NOT NULL,
    "verified_by" "uuid",
    "verified_at" timestamp with time zone,
    "reviewer_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "notes" "text",
    "parser_notes" "jsonb",
    "bal_rating" "text",
    "extracted_at" timestamp with time zone,
    "australian_made" boolean
);


ALTER TABLE "public"."staged_systems" OWNER TO "postgres";


COMMENT ON COLUMN "public"."staged_systems"."hero_image_url" IS 'Hero/primary image URL for this system. Populated post-parse by image extraction or manual upload ΓÇö not set by the AI parser.';



COMMENT ON COLUMN "public"."staged_systems"."extracted_at" IS 'Timestamp when the AI parser extracted this record. Set by the insertion layer. Distinct from created_at (DB insert time).';



CREATE TABLE IF NOT EXISTS "public"."verification_events" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "entity_type" "text" NOT NULL,
    "entity_id" "uuid" NOT NULL,
    "action" "text" NOT NULL,
    "field_name" "text",
    "old_value" "text",
    "new_value" "text",
    "reviewer_id" "uuid",
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."verification_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."workspace_invitations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "manufacturer_id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "role" "text" DEFAULT 'manufacturer_reviewer'::"text" NOT NULL,
    "token_hash" "text",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "invited_by" "uuid",
    "invited_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "expires_at" timestamp with time zone,
    "accepted_at" timestamp with time zone,
    CONSTRAINT "chk_workspace_invitations_role" CHECK (("role" = ANY (ARRAY['manufacturer_admin'::"text", 'manufacturer_reviewer'::"text", 'manufacturer_viewer'::"text"]))),
    CONSTRAINT "chk_workspace_invitations_status" CHECK (("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text", 'expired'::"text", 'revoked'::"text"])))
);


ALTER TABLE "public"."workspace_invitations" OWNER TO "postgres";


ALTER TABLE ONLY "public"."data_studio_manufacturers"
    ADD CONSTRAINT "data_studio_manufacturers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."data_studio_manufacturers"
    ADD CONSTRAINT "data_studio_manufacturers_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."data_studio_user_profiles"
    ADD CONSTRAINT "data_studio_user_profiles_auth_user_id_key" UNIQUE ("auth_user_id");



ALTER TABLE ONLY "public"."data_studio_user_profiles"
    ADD CONSTRAINT "data_studio_user_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."document_chunks"
    ADD CONSTRAINT "document_chunks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."document_pages"
    ADD CONSTRAINT "document_pages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."document_pages"
    ADD CONSTRAINT "document_pages_source_document_id_page_number_key" UNIQUE ("source_document_id", "page_number");



ALTER TABLE ONLY "public"."extraction_runs"
    ADD CONSTRAINT "extraction_runs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."field_verifications"
    ADD CONSTRAINT "field_verifications_entity_type_entity_id_field_name_key" UNIQUE ("entity_type", "entity_id", "field_name");



ALTER TABLE ONLY "public"."field_verifications"
    ADD CONSTRAINT "field_verifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."manufacturer_users"
    ADD CONSTRAINT "manufacturer_users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."parser_field_evidence"
    ADD CONSTRAINT "parser_field_evidence_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."publish_batch_items"
    ADD CONSTRAINT "publish_batch_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."publish_batches"
    ADD CONSTRAINT "publish_batches_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."source_documents"
    ADD CONSTRAINT "source_documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staged_components"
    ADD CONSTRAINT "staged_components_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staged_system_colours"
    ADD CONSTRAINT "staged_system_colours_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staged_system_colours"
    ADD CONSTRAINT "staged_system_colours_staged_system_id_colour_name_key" UNIQUE ("staged_system_id", "colour_name");



ALTER TABLE ONLY "public"."staged_system_components"
    ADD CONSTRAINT "staged_system_components_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staged_system_components"
    ADD CONSTRAINT "staged_system_components_staged_system_id_staged_component__key" UNIQUE ("staged_system_id", "staged_component_id");



ALTER TABLE ONLY "public"."staged_system_profiles"
    ADD CONSTRAINT "staged_system_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staged_systems"
    ADD CONSTRAINT "staged_systems_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."data_studio_user_profiles"
    ADD CONSTRAINT "uq_user_profiles_email" UNIQUE ("email");



ALTER TABLE ONLY "public"."verification_events"
    ADD CONSTRAINT "verification_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."workspace_invitations"
    ADD CONSTRAINT "workspace_invitations_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_document_chunks_document_page_id" ON "public"."document_chunks" USING "btree" ("document_page_id");



CREATE INDEX "idx_document_chunks_source_document_id" ON "public"."document_chunks" USING "btree" ("source_document_id");



CREATE INDEX "idx_document_pages_source_document_id" ON "public"."document_pages" USING "btree" ("source_document_id");



CREATE INDEX "idx_extraction_runs_source_document_id" ON "public"."extraction_runs" USING "btree" ("source_document_id");



CREATE INDEX "idx_field_verifications_entity" ON "public"."field_verifications" USING "btree" ("entity_type", "entity_id");



CREATE INDEX "idx_field_verifications_source_chunk_id" ON "public"."field_verifications" USING "btree" ("source_chunk_id");



CREATE INDEX "idx_field_verifications_source_document_id" ON "public"."field_verifications" USING "btree" ("source_document_id");



CREATE INDEX "idx_field_verifications_source_page_id" ON "public"."field_verifications" USING "btree" ("source_page_id");



CREATE INDEX "idx_field_verifications_status" ON "public"."field_verifications" USING "btree" ("status");



CREATE INDEX "idx_manufacturer_users_auth_user_id" ON "public"."manufacturer_users" USING "btree" ("auth_user_id");



CREATE INDEX "idx_manufacturer_users_email" ON "public"."manufacturer_users" USING "btree" ("email");



CREATE INDEX "idx_manufacturer_users_manufacturer_id" ON "public"."manufacturer_users" USING "btree" ("manufacturer_id");



CREATE INDEX "idx_manufacturer_users_user_profile_id" ON "public"."manufacturer_users" USING "btree" ("user_profile_id");



CREATE INDEX "idx_parser_field_evidence_entity_field_created" ON "public"."parser_field_evidence" USING "btree" ("entity_type", "entity_id", "field_name", "created_at" DESC);



CREATE INDEX "idx_parser_field_evidence_extraction_run_id" ON "public"."parser_field_evidence" USING "btree" ("extraction_run_id");



CREATE INDEX "idx_parser_field_evidence_source_chunk_id" ON "public"."parser_field_evidence" USING "btree" ("source_chunk_id");



CREATE INDEX "idx_parser_field_evidence_source_document_id" ON "public"."parser_field_evidence" USING "btree" ("source_document_id");



CREATE INDEX "idx_publish_batch_items_publish_batch_id" ON "public"."publish_batch_items" USING "btree" ("publish_batch_id");



CREATE INDEX "idx_publish_batches_manufacturer_id" ON "public"."publish_batches" USING "btree" ("manufacturer_id");



CREATE INDEX "idx_source_documents_manufacturer_id" ON "public"."source_documents" USING "btree" ("manufacturer_id");



CREATE INDEX "idx_staged_components_manufacturer_id" ON "public"."staged_components" USING "btree" ("manufacturer_id");



CREATE INDEX "idx_staged_system_components_staged_component_id" ON "public"."staged_system_components" USING "btree" ("staged_component_id");



CREATE INDEX "idx_staged_system_components_staged_system_id" ON "public"."staged_system_components" USING "btree" ("staged_system_id");



CREATE INDEX "idx_staged_systems_manufacturer_id" ON "public"."staged_systems" USING "btree" ("manufacturer_id");



CREATE INDEX "idx_user_profiles_auth_user_id" ON "public"."data_studio_user_profiles" USING "btree" ("auth_user_id");



CREATE INDEX "idx_user_profiles_email" ON "public"."data_studio_user_profiles" USING "btree" ("email");



CREATE INDEX "idx_verification_events_entity" ON "public"."verification_events" USING "btree" ("entity_type", "entity_id");



CREATE INDEX "idx_workspace_invitations_email" ON "public"."workspace_invitations" USING "btree" ("email");



CREATE INDEX "idx_workspace_invitations_manufacturer_id" ON "public"."workspace_invitations" USING "btree" ("manufacturer_id");



CREATE INDEX "idx_workspace_invitations_status" ON "public"."workspace_invitations" USING "btree" ("status");



CREATE UNIQUE INDEX "uix_manufacturer_users_profile_manufacturer" ON "public"."manufacturer_users" USING "btree" ("user_profile_id", "manufacturer_id") WHERE ("user_profile_id" IS NOT NULL);



ALTER TABLE ONLY "public"."document_chunks"
    ADD CONSTRAINT "document_chunks_document_page_id_fkey" FOREIGN KEY ("document_page_id") REFERENCES "public"."document_pages"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."document_chunks"
    ADD CONSTRAINT "document_chunks_extraction_run_id_fkey" FOREIGN KEY ("extraction_run_id") REFERENCES "public"."extraction_runs"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."document_chunks"
    ADD CONSTRAINT "document_chunks_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."document_pages"
    ADD CONSTRAINT "document_pages_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."extraction_runs"
    ADD CONSTRAINT "extraction_runs_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."field_verifications"
    ADD CONSTRAINT "field_verifications_source_chunk_id_fkey" FOREIGN KEY ("source_chunk_id") REFERENCES "public"."document_chunks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."field_verifications"
    ADD CONSTRAINT "field_verifications_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."field_verifications"
    ADD CONSTRAINT "field_verifications_source_page_id_fkey" FOREIGN KEY ("source_page_id") REFERENCES "public"."document_pages"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."manufacturer_users"
    ADD CONSTRAINT "fk_manufacturer_users_invited_by" FOREIGN KEY ("invited_by") REFERENCES "public"."data_studio_user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."workspace_invitations"
    ADD CONSTRAINT "fk_workspace_invitations_invited_by" FOREIGN KEY ("invited_by") REFERENCES "public"."data_studio_user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."manufacturer_users"
    ADD CONSTRAINT "manufacturer_users_manufacturer_id_fkey" FOREIGN KEY ("manufacturer_id") REFERENCES "public"."data_studio_manufacturers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."manufacturer_users"
    ADD CONSTRAINT "manufacturer_users_user_profile_id_fkey" FOREIGN KEY ("user_profile_id") REFERENCES "public"."data_studio_user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."parser_field_evidence"
    ADD CONSTRAINT "parser_field_evidence_extraction_run_id_fkey" FOREIGN KEY ("extraction_run_id") REFERENCES "public"."extraction_runs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."parser_field_evidence"
    ADD CONSTRAINT "parser_field_evidence_source_chunk_id_fkey" FOREIGN KEY ("source_chunk_id") REFERENCES "public"."document_chunks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."parser_field_evidence"
    ADD CONSTRAINT "parser_field_evidence_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."publish_batch_items"
    ADD CONSTRAINT "publish_batch_items_publish_batch_id_fkey" FOREIGN KEY ("publish_batch_id") REFERENCES "public"."publish_batches"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."publish_batches"
    ADD CONSTRAINT "publish_batches_manufacturer_id_fkey" FOREIGN KEY ("manufacturer_id") REFERENCES "public"."data_studio_manufacturers"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."source_documents"
    ADD CONSTRAINT "source_documents_manufacturer_id_fkey" FOREIGN KEY ("manufacturer_id") REFERENCES "public"."data_studio_manufacturers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_components"
    ADD CONSTRAINT "staged_components_manufacturer_id_fkey" FOREIGN KEY ("manufacturer_id") REFERENCES "public"."data_studio_manufacturers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_components"
    ADD CONSTRAINT "staged_components_source_chunk_id_fkey" FOREIGN KEY ("source_chunk_id") REFERENCES "public"."document_chunks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."staged_components"
    ADD CONSTRAINT "staged_components_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."staged_system_colours"
    ADD CONSTRAINT "staged_system_colours_staged_system_id_fkey" FOREIGN KEY ("staged_system_id") REFERENCES "public"."staged_systems"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_system_components"
    ADD CONSTRAINT "staged_system_components_staged_component_id_fkey" FOREIGN KEY ("staged_component_id") REFERENCES "public"."staged_components"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_system_components"
    ADD CONSTRAINT "staged_system_components_staged_system_id_fkey" FOREIGN KEY ("staged_system_id") REFERENCES "public"."staged_systems"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_system_profiles"
    ADD CONSTRAINT "staged_system_profiles_staged_system_id_fkey" FOREIGN KEY ("staged_system_id") REFERENCES "public"."staged_systems"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_systems"
    ADD CONSTRAINT "staged_systems_manufacturer_id_fkey" FOREIGN KEY ("manufacturer_id") REFERENCES "public"."data_studio_manufacturers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staged_systems"
    ADD CONSTRAINT "staged_systems_source_chunk_id_fkey" FOREIGN KEY ("source_chunk_id") REFERENCES "public"."document_chunks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."staged_systems"
    ADD CONSTRAINT "staged_systems_source_document_id_fkey" FOREIGN KEY ("source_document_id") REFERENCES "public"."source_documents"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."workspace_invitations"
    ADD CONSTRAINT "workspace_invitations_manufacturer_id_fkey" FOREIGN KEY ("manufacturer_id") REFERENCES "public"."data_studio_manufacturers"("id") ON DELETE CASCADE;



CREATE POLICY "anon can read document chunks" ON "public"."document_chunks" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read document pages" ON "public"."document_pages" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read extraction runs" ON "public"."extraction_runs" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read field verifications" ON "public"."field_verifications" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read manufacturers" ON "public"."data_studio_manufacturers" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read parser field evidence" ON "public"."parser_field_evidence" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read source documents" ON "public"."source_documents" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read staged components" ON "public"."staged_components" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read staged system colours" ON "public"."staged_system_colours" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read staged system components" ON "public"."staged_system_components" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read staged system profiles" ON "public"."staged_system_profiles" FOR SELECT TO "anon" USING (true);



CREATE POLICY "anon can read staged systems" ON "public"."staged_systems" FOR SELECT TO "anon" USING (true);



CREATE POLICY "authenticated can read document chunks" ON "public"."document_chunks" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read document pages" ON "public"."document_pages" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read extraction runs" ON "public"."extraction_runs" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read field verifications" ON "public"."field_verifications" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read manufacturers" ON "public"."data_studio_manufacturers" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read parser field evidence" ON "public"."parser_field_evidence" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read source documents" ON "public"."source_documents" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read staged components" ON "public"."staged_components" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read staged system colours" ON "public"."staged_system_colours" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read staged system components" ON "public"."staged_system_components" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read staged system profiles" ON "public"."staged_system_profiles" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can read staged systems" ON "public"."staged_systems" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "authenticated can update staged systems verification" ON "public"."staged_systems" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



ALTER TABLE "public"."data_studio_manufacturers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."document_chunks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."document_pages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."extraction_runs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."field_verifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."parser_field_evidence" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."source_documents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staged_components" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staged_system_colours" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staged_system_components" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staged_system_profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staged_systems" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



REVOKE ALL ON FUNCTION "public"."insert_parser_output_plan_v1"("plan" "jsonb") FROM PUBLIC;
GRANT ALL ON FUNCTION "public"."insert_parser_output_plan_v1"("plan" "jsonb") TO "service_role";



REVOKE ALL ON FUNCTION "public"."purge_staged_for_document_v1"("p_source_document_id" "uuid", "p_manufacturer_id" "uuid") FROM PUBLIC;
GRANT ALL ON FUNCTION "public"."purge_staged_for_document_v1"("p_source_document_id" "uuid", "p_manufacturer_id" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."data_studio_manufacturers" TO "anon";
GRANT ALL ON TABLE "public"."data_studio_manufacturers" TO "authenticated";
GRANT ALL ON TABLE "public"."data_studio_manufacturers" TO "service_role";



GRANT ALL ON TABLE "public"."data_studio_user_profiles" TO "anon";
GRANT ALL ON TABLE "public"."data_studio_user_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."data_studio_user_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."document_chunks" TO "anon";
GRANT ALL ON TABLE "public"."document_chunks" TO "authenticated";
GRANT ALL ON TABLE "public"."document_chunks" TO "service_role";



GRANT ALL ON TABLE "public"."document_pages" TO "anon";
GRANT ALL ON TABLE "public"."document_pages" TO "authenticated";
GRANT ALL ON TABLE "public"."document_pages" TO "service_role";



GRANT ALL ON TABLE "public"."extraction_runs" TO "anon";
GRANT ALL ON TABLE "public"."extraction_runs" TO "authenticated";
GRANT ALL ON TABLE "public"."extraction_runs" TO "service_role";



GRANT ALL ON TABLE "public"."field_verifications" TO "anon";
GRANT ALL ON TABLE "public"."field_verifications" TO "authenticated";
GRANT ALL ON TABLE "public"."field_verifications" TO "service_role";



GRANT ALL ON TABLE "public"."manufacturer_users" TO "anon";
GRANT ALL ON TABLE "public"."manufacturer_users" TO "authenticated";
GRANT ALL ON TABLE "public"."manufacturer_users" TO "service_role";



GRANT ALL ON TABLE "public"."parser_field_evidence" TO "anon";
GRANT ALL ON TABLE "public"."parser_field_evidence" TO "authenticated";
GRANT ALL ON TABLE "public"."parser_field_evidence" TO "service_role";



GRANT ALL ON TABLE "public"."publish_batch_items" TO "anon";
GRANT ALL ON TABLE "public"."publish_batch_items" TO "authenticated";
GRANT ALL ON TABLE "public"."publish_batch_items" TO "service_role";



GRANT ALL ON TABLE "public"."publish_batches" TO "anon";
GRANT ALL ON TABLE "public"."publish_batches" TO "authenticated";
GRANT ALL ON TABLE "public"."publish_batches" TO "service_role";



GRANT ALL ON TABLE "public"."source_documents" TO "anon";
GRANT ALL ON TABLE "public"."source_documents" TO "authenticated";
GRANT ALL ON TABLE "public"."source_documents" TO "service_role";



GRANT ALL ON TABLE "public"."staged_components" TO "anon";
GRANT ALL ON TABLE "public"."staged_components" TO "authenticated";
GRANT ALL ON TABLE "public"."staged_components" TO "service_role";



GRANT ALL ON TABLE "public"."staged_system_colours" TO "anon";
GRANT ALL ON TABLE "public"."staged_system_colours" TO "authenticated";
GRANT ALL ON TABLE "public"."staged_system_colours" TO "service_role";



GRANT ALL ON TABLE "public"."staged_system_components" TO "anon";
GRANT ALL ON TABLE "public"."staged_system_components" TO "authenticated";
GRANT ALL ON TABLE "public"."staged_system_components" TO "service_role";



GRANT ALL ON TABLE "public"."staged_system_profiles" TO "anon";
GRANT ALL ON TABLE "public"."staged_system_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."staged_system_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."staged_systems" TO "anon";
GRANT ALL ON TABLE "public"."staged_systems" TO "authenticated";
GRANT ALL ON TABLE "public"."staged_systems" TO "service_role";



GRANT ALL ON TABLE "public"."verification_events" TO "anon";
GRANT ALL ON TABLE "public"."verification_events" TO "authenticated";
GRANT ALL ON TABLE "public"."verification_events" TO "service_role";



GRANT ALL ON TABLE "public"."workspace_invitations" TO "anon";
GRANT ALL ON TABLE "public"."workspace_invitations" TO "authenticated";
GRANT ALL ON TABLE "public"."workspace_invitations" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







